.container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.hero-img {
    display: flex;
    width: 2493.21px;
    background-size: cover;
    height: max-content;
    background-image: url('../img/loginimg.png');
    padding-top: -100px;
}

.Login-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 507px;
    height: max-content;
    padding: 30px 24px 30px 24px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(19, 17, 17, 0.2);
    /* Bóng mờ */
    backdrop-filter: blur(40px);
    gap: 20px;

}

.Login-wrapper>p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39.01px;

}

.login-text {
    width: 459px;
    height: 58px;
    gap: 10px;
    padding: 9px 0px;
}

.login-text p {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    width: 46px;
    height: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    color: #8C8C8C;
    gap: 20px;

}

form input {
    width: 460px;
    height: 60px;
    border-radius: 5px;
    padding: 20px 24px 20px 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
}

form input {
    cursor: pointer;
}

.ipassword::-webkit-input-placeholder::before {
    content: ' ';
    position: absolute;
    top: 2px;
    /* adjust icon position */
    left: 0px;
    width: 14px;
    /* size of a single icon */
    height: 14px;
    background-repeat: no-repeat;
    background-position: -48px 0px;
    /* position of the right icon */
    background-image: url('../img/passwordfield.png');
}


.forgetPassword {
    text-align: center;
}

/* register custom style */

.usernameClass {
    position: relative;
    padding-top: 30px;
}

.usernameClass img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 63%;
    padding: 2px;
}

.usernameClass label {
    width: 50%;
}


.sociallogin {
    display: flex;
    flex-direction: column;
    margin: 60px 150px;
    width: 507px;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(19, 17, 17, 0.2);
    /* Bóng mờ */
    backdrop-filter: blur(40px);
    gap: 20px;
}



.register-orther p {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}


.sociallogin .register {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39.01px;
    /* color: red; */
}

.sociallogin input {
    cursor: pointer;
    width: 460px;
    height: 60px;
    border-radius: 5px;
    padding: 20px 24px 20px 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
}

.hidepassword {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 65px;
    ;
}

span {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 8px;
    line-height: 19px;
}



span.display {
    display: flex;
}